/*
wood brown: A89F68;
army green: 41521F;
*/

header{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar-default{
	background-color: transparent;
    background: transparent;
    border-color: transparent;

}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #41521F;
}


.txt-header{
	font-size: 1.2em;
	color: #FFF;
	padding-top: 150px;
	padding-left: 20px;

}

.txt-header h3{
	font-size: 2em;	
}

.btn-see-more,
.btn-donate{
    color: #fff;
    background-color: #41521F;
    border-color: #41521F;
}

.txt-foundation{
	padding-top: 10%;
}

.foundation{
	padding-bottom: 5%;
}

.foundation{
	font-size: 1em;
}

.foundation h4{
	font-size: 1em;
	color: #7F7F7F;
}

.foundation h2,
.foundation h4,
.foundation p a{
	color: #948D55;
}

.easy-help{
	background-color: #948D55;
}

.eHelp{
	margin: 4% 0;
}

.txt-easy-help{
	color: white;

}

.txt-easy-help h4{
	color: #41521F;
}

.img-cosita{
	border: 7px solid white;
}

.no-tree{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.txt-no-tree{
	color: #FFF;
	padding-top: 5%;
	text-shadow: 1px 1px 1px #000;	
}

footer{
	background-color: #324117;
	padding: 50px 0;
}

.txt-footer{
	color: white;
}

.txt-footer h6,
.txt-footer a{
	color: #948D55;
	text-decoration: none;
}

.link li{
	list-style:none;
}

.link a{
	color: #948D55;
}



